<h1>Listing images</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Classification</th>
    <th>Location</th>
    <th>Like</th>
    <th>Unlike</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.name %></td>
    <td><%= image.classification %></td>
    <td>
  <img src="<%= image.location %>"/>
    </td>
    <td><%= image.like %></td>
    <td><%= image.unlike %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_image_path %>
